<div class="module rightmenu" ng-controller="rightmenuController">
  <!-- write your module html here -->
  <div class="header" ng-style="headerStyles">
    <koa-icon class="searchbutton" src="search" ng-style="searchStyle" ng-click="search('show')"></koa-icon>
    <div  ng-show="searchCamp">
    <koa-input name="searchQuery"
            ng-model="rightmenu.searchQuery"
            ng-value="rightmenu.searchQuery" id="rightmenuInputSearch">
    </koa-input>
   </div> 
   <koa-icon src="close" ng-click="search('hide')" ng-if="searchCamp" class="closeSearch"></koa-icon>
   
    <p class="navbartext" ng-show="!searchCamp">{{headerText()}}</p>
    <div class="gost menuIcon" ng-if="!menuIcon"></div>
    <koa-icon class="backButton" src="arrow-back" ng-click="goBack()" ng-show="showArrowBack"></koa-icon>
    <koa-icon icon="{{rightmenu.icon}}" id="menuIcon" class="menuIcon" ng-click="openMenu()" ng-show="menuIcon"></koa-icon>
  </div>

  <div id="mySidenav" class="sidenav" ng-style="menuStyle">
    <a class="closebtn" href="javascript:void(0)" class="closebtn" ng-style="closebtn" ng-click="closeMenu()"><koa-icon icon="{{rightmenu.icon}}" class="menuIcon"></koa-icon></a>
    <a class="item" ng-repeat="(key, value) in menu" ng-selected="isSelected(value.url)" ng-href="{{value.url}}" ng-click="checkbutton(value.url)">
      <koa-icon src="{{value.icon}}" ng-if="!showicons && value.typeicon === 0"></koa-icon>
      <iron-icon src="{{value.icon}}" class="itemicon" ng-if="!showicons && value.typeicon === 1"></iron-icon>
      <p>{{value.text}}</p>
    </a>
  </div>
  <div class="scrim" ng-show="showScrim" ng-click="closeMenu()"></div>

  <div class="content">
    <!-- moduleIdentifier + Template - Needs embracing div -->
    <div ng-include="rightmenuTemplate" class="template"></div>
  </div>
  <!-- end module html -->
</div>
